.main-sec-container{
	display: block;
	height: 100%;
	width: 100%;
	padding: 5% 15% 5% 15%;
}

.main-sec {
	margin-top: 20px;
	width: 20%;
}

.main-sec1 {
	background-color: yellow;
}

.main-sec2 {
	background-color: orange;
}
